.list .item-content, .navbar .navbar-inner {
  background-color: #3d3c3b;
}

.progressbar {
  width: 80vh !important;
}

.progressbar.color-green {
  background-color:#044104;
}
.progressbar.color-red {
  background-color:#490202;
}